<div class="my-musics">
    <span class="title-bg mt-4">
        Seu Top Artista
    </span>

    <app-top-artist class="mt-2 d-block"></app-top-artist>

    <span class="title-bg mt-4">
        Músicas Curtidas
    </span>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>#</th>
                <th>Título</th>
                <th>Artista</th>
                <th>Tempo</th>
                <th>Álbum</th>
            </tr>
        </thead>
    </table>
</div>

<div class="right-panel">
    <app-right-panel></app-right-panel>
</div>